@page
@model Presentation.Pages.ViewModel
@using Entity;

<div class="container">
    <div class="row">
        <section class="col-1">
            @{
                if(Model.id == "ip")
                {
                    <div class="btn btn-danger my-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                        </svg>
                    </div>
                }
                else
                {
                    <a href="/@Model.Navigate/add" class="btn btn-secondary my-3">Thêm</a>
                }
            }
        </section>
        <section class="col-11">
            <div class="row">
                <div class="col-6">
                    <form method="post">
                        <div class="input-group py-3">
                            <input type="text" class="form-control" name="search" placeholder="Tìm theo Mã/Tên" maxlength="40"/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary">
                                    Tìm
                                </button>
                            </div>
                            <span class="invalid-feedback"></span>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    @{
                        if (Model.FeedBack != null)
                        {
                            <partial name="_Inform" model=@Model.FeedBack />
                        }
                    }
                </div>
            </div>
            <form class="row" method="post">
                <button type="submit" class="col col-lg-1 btn btn-outline-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z" />
                    </svg>
                    Lọc
                </button>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select form-select-sm text-primary" name="mfg">
                            <option value="all" selected>Tất cả</option>
                            <option value="1">Từ tháng 1</option>
                            <option value="2">Từ tháng 2</option>
                            <option value="3">Từ tháng 3</option>
                            <option value="4">Từ tháng 4</option>
                            <option value="5">Từ tháng 5</option>
                            <option value="6">Từ tháng 6</option>
                            <option value="7">Từ tháng 7</option>
                            <option value="8">Từ tháng 8</option>
                            <option value="9">Từ tháng 9</option>
                            <option value="10">Từ tháng 10</option>
                            <option value="11">Từ tháng 11</option>
                            <option value="12">Từ tháng 12</option>
                        </select>
                        <label for="floatingSelect">Thời điểm sản xuất</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select form-select-sm text-primary" name="exp">
                            <option value="all" selected>Tất cả</option>
                            <option value="none">Không có</option>
                            <option value="1">Đến tháng 1</option>
                            <option value="2">Đến tháng 2</option>
                            <option value="3">Đến tháng 3</option>
                            <option value="4">Đến tháng 4</option>
                            <option value="5">Đến tháng 5</option>
                            <option value="6">Đến tháng 6</option>
                            <option value="7">Đến tháng 7</option>
                            <option value="8">Đến tháng 8</option>
                            <option value="9">Đến tháng 9</option>
                            <option value="10">Đến tháng 10</option>
                            <option value="11">Đến tháng 11</option>
                            <option value="12">Đến tháng 12</option>
                        </select>
                        <label for="floatingSelect">Hạn sử dụng</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select form-select-sm text-primary" name="price">
                            <option value="all" selected>Tất cả</option>
                            <option value="1">dưới 500 nghìn</option>
                            <option value="2">từ 500 nghìn - 1 triệu</option>
                            <option value="3">từ 1 - 10 triệu</option>
                            <option value="4">từ 10 - 50 triệu</option>
                            <option value="5">từ 50 - 100 triệu</option>
                            <option value="6">từ 100 - 500 triệu</option>
                        </select>
                        <label for="floatingSelect">Giá sản phẩm</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Leave a comment here" name="company" />
                        <label for="floatingTextarea2">Tên công ty</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select form-select-sm text-primary" name="category">
                            <option value="all" selected>Tất cả</option>
                            @{      
                                foreach (Category c in Model.Categories)
                                {
                                    <option value="@c.Name">@c.Name</option>
                                }
                            }
                        </select>
                        <label for="floatingSelect">Loại sản phẩm</label>
                    </div>
                </div>
            </form>
            <input type="hidden" id="IpWarning" value="@Model.Imports.Where(i => !i.Alive).Count()"/>
            @{
                switch (Model.id)
                {
                    case "pr":
                    <partial name="~/Views/Models/_Product.cshtml" model="@Model.Products"/>
                    break;
                    case "ct":
                        <partial name="~/Views/Models/_Category.cshtml" model="@Model.Categories"/>
                    break;
                    case "ip":
                        <partial name="~/Views/Models/_Import.cshtml" model="@Model.Imports"/>
                    break;
                    case "iv":
                        <partial name="~/Views/Models/_Invoice.cshtml" model="@Model.Invoices"/>
                    break;
                    default:
                        <h4 class="text-danger">Yêu cầu không hợp lệ</h4>
                    break;
                }
            }
        </section>
    </div>
</div>